 <!-- the main page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Video background -->
    <div class="video-background">
        <video id="bg-video" autoplay muted loop playsinline>
            <source src="{{ url_for('static', filename='videos/surfing_video.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <!-- navbar -->
    <header class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-img">
            ActiveBond
        </div>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>

